.tags-container
    .tag(
        ng-if="tag.color"
        ng-repeat="tag in vm.tags"
        ng-style="{'border-left': '.3rem solid' + tag.color}"
    )
        tg-tag(
            tag="tag"
            permissions="vm.permissions"
            project="vm.project"
            on-delete-tag="vm.onDeleteTag(tag)"
            loading-remove-tag="{{vm.loadingRemoveTag}}"
        )
    .tag(
        ng-if="!tag.color"
        ng-repeat="tag in vm.tags"
    )
        tg-tag(
            tag="tag"
            permissions="vm.permissions"
            project="vm.project"
            on-delete-tag="vm.onDeleteTag(tag)"
            loading-remove-tag="{{vm.loadingRemoveTag}}"
        )

include components/add-tag-button
include components/add-tag-input
