.tags-container
    .tag(
        ng-repeat="tag in vm.tags"
        ng-style="{'border-left': '.5rem solid' + (tag.color || 'transparent')}"
    )
        tg-tag(
            tag="tag"
            permissions="vm.permissions"
            project="vm.project"
            on-delete-tag="vm.onDeleteTag(tag)"
            loading-remove-tag="{{vm.loadingRemoveTag}}"
        )

include components/add-tag-button
include components/add-tag-input
