a.add-tag-button.ng-animate-disabled(
    ng-if="!vm.addTag"
    href="#"
    title="{{'COMMON.TAGS.ADD' | translate}}"
    ng-click="vm.displayTagInput()"
)
    tg-svg(
        svg-icon="icon-add"
        svg-title-translate="COMMON.TAGS.ADD"
    )
    span.add-tag-text(translate="COMMON.TAGS.ADD")
